/* tags selectors */

body {
  background-color: white;
  font-family: 'Quicksand', sans-serif;
  color: #7E6752;
}

nav {
    padding: 3% 15%;
    font-weight: 400;
    font-size: 1.5rem;
    font-family: "Cormorant Garamond", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant Garamond", serif;
  color: #4A3333;
  font-weight: bold;
  /* color: #362222; */
}
.title
{
  background-color: #91db65;
}

.big-heading {
  font-weight: bold;
  font-size: 4rem;
  padding: 5% 0 5% 15%;
  position: absolute;
  z-index: 5;
  top: 10%;
}

.mainimage {
  width: 100%;
  box-sizing: content-box;
  position: relative;
}

.division-img {
  width: 100%;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.white-section {
  background-color: white;
  padding: 5% 15%;
}

.project-card {
  margin: 5% 5% 5% 0;
}

.project-picture {
  width: 100%;
}

.project-card-title {
  font-size: 2rem;
}

.project-button {
  font-size: 1rem;
}

.project-body {
  font-size: 1rem;
}

.project-title{
  font-size: 3rem;
  margin-bottom: 5%;
}

.project-col {
  padding-bottom: 5%;
}
